h1, p {
    text-align: center;
    font-size: 2em;
}
li{
 list-style-position: inside;
 font-size: 2em;
 
}

li:hover {
    background-color: purple;
}

li:active {
    color: gray;
}

body {
    background-color: grey;
}

ul, ol {
    list-style: none;
    text-align: center;
}