.super-mario {
width: 200px;
top: 100px;
left: 150px;
position: absolute;
}

.goomba {
width: 200px;
top: 500px;
left: 150px;
position: absolute;
}

.baloon {
width: 200px;
left: 500px;
top: 50px;
position: absolute;
z-index: 4;
}

.word {
    position: absolute;
    font-size: 1.1em;
    top: 75px;
    z-index: 5;
    left: 505px;
}

.bowser {
width: 200px;
position: absolute;
z-index: 3;
left: 700px;
}