h1{
    font-family: sans-serif;

}
p{
    font-weight:600px;
    font-size: 3em;

}
body{
    font-size:16px;
    background-color: gray;
}
ul{
    font-style: oblique;
    line-height:50px;
    text-align: center;
    text-decoration-line:underline;
    }

    .vermelho{
        color: red;
    }
    .amarelo{
        color: rgb(255, 255, 93);
    }
    .marrom{
        color: brown;
    }